<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{!-- <link rel="stylesheet" href="/style.css" /> --}}
        
    </head>
    <body>
        <h4>Witaj {{username}},</h4>
        <h4>Aby potwierdzić swoją tożsamość przepisz podany kod: {{kod}}</h4>
    </body>
</html>
